/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* common style */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.anchor-button {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
header,
main {
    margin: 0px 150px;
    margin-top: 15px;
    padding: 0;
}

/* header style */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title {
    font-size: 24px;
    width: 50%;
}
/* navigation style */
nav > ul {
    display: flex;
    font-size: 16px;
}
nav > ul > li {
    margin-right: 20px;
    list-style: none;
}
nav > ul > li > a {
    text-decoration: none;
    color: #000;
}
nav > ul > li > a:hover {
    color: #fcb2bf;
}
/* main heading style */
.flex-container {
    display: flex;
    flex-direction: row-reverse;
}
.top-heading {
    font-size: 16px;
    margin-top: 100px;
}
.top-heading-title {
    font-size: 52px;
}
.half-width {
    width: 50%;
}
.half-width > img {
    margin-left: 20%;
    transition: transform 0.5s;
}
.half-width > img:hover {
    transform: scale(1.1);
}

.order-button {
    background: #e02c6d;
    color: #fff;
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 40px;
}
.order-button:hover {
    background: #fff;
    color: #e02c6d;
}
.companies-logo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.logos {
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    border-color: rgba(160, 160, 160, 0.651);
}
.logos > img {
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
}
/* products styles */
.popular-collection {
    margin-top: 150px;
    position: relative;
}
.popular-collection > h1 {
    text-align: center;
    margin-bottom: 50px;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.product {
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaaaaa56;
    padding: 15px;
}
.product > img {
    width: 100%;
    border-radius: 5px;
}
.product-name {
    font-size: 28px;
}
.product-price {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.product-details {
    font-size: 14px;
    color: gray;
    font-family: "Inter", sans-serif;
}
.see-more-button {
    color: #e02c6d;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 40px;
    position: absolute;
    right: 0;
    transition: transform 1s;
}
.see-more-button:hover > i {
    transform: translate(20px);
    color: rgb(66, 156, 230);
}
/* footer style */
footer {
    background-color: #0a0826;
    margin-top: 150px;
    color: white;
    text-align: center;
    padding: 15px;
}
footer p {
    margin: 0;
}
.social-media {
    margin-top: 30px;
}
.social-media a {
    display: inline-block;
    margin-left: 20px;
    background-color: #23203b;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
}
.fab {
    color: white;
    font-size: 32px;
}
